@using EuroApi.Models
@model IEnumerable<EuroApi.Models.Player>

@{
    ViewBag.Title = "Index";
    var teams = (List<Team>) ViewBag.Teams;
}
<script src="/Scripts/sortable/jquery-ui-1.8.17.min.js"></script>

<div class="page-header">
  <h2>Players by team</h2>
</div>
@foreach(var team in teams)
{
    <div class="span3">
        <div class="team" style="padding: 10px;">
            <img src="/Content/flags/@(team.Name.ToLower())-flag.gif" width="30px;" alt="flag" />
            @Html.ActionLink(@team.Name, "Team", new { id = team.Id })
        </div>
    </div>
}

<div style="margin-top: 40px;">&nbsp;</div>
<div class="page-header">
    <h2>Search by name</h2>
</div>
<div class="demo">

    <div class="ui-widget">
        <input id="tags">
    </div>
</div>

<div id="searchDescription"></div>


<script>
    $(function () {
        var availableTags = [];
        $.ajax({
            url: "/Player/GetPlayerList",
            type: "POST",
            async: false,
            success: function (results) {
                availableTags = results;
            }
        });

        $("#tags").autocomplete({
            source: availableTags,
            select: function (value, data) {
                if (typeof data == "undefined") {
                    $("#searchDescription").html('You selected: ' + value + "<br/>");
                } else {
                    $("#searchDescription").html('You selected: ' + data.item.value + "<br/>");
                    window.location = "/Player/Show/?name=" + data.item.value;
                }
            }
        });
    });
	</script>