@model dynamic

@{
    ViewBag.Title = "Team";
}

<input type="text" id="teamSearch" /> <input type="button" onclick="search();"/>

<div class="matches"></div>
<div class="match"></div>
<script>

    function search(name) {
        var inputName = $("#teamSearch").val();
        if(inputName == "") {
            inputName = name;
        }
            
        jQuery.ajax({
            type: "GET",
            url: '/api/Team/?name=' + inputName,
            dataType: "json",
            success: function (results) {
                $(".matches").html("");
                $(".match").html("");
                $(".matches").append("<div>" + results.GroupName + " - " + results.Name + "</div>");
                for (var i = 0; i < results.Matches.length; i++) {
                    var matches = results.Matches[i];
                    $(".match").append("<div>" + matches.Date + "</div>");
                    $(".match").append("<div>" + matches.HomeTeam + " - " + matches.GuestTeam + " : " + matches.HomeTeamGoals + " - " + matches.AwayTeamGoals
                        + "</div>");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("error");
            }
        });
    }
    $(document).ready(function () {
        search("Poland");
    });

</script>
