@model EuroApi.Models.Match

<div class="row well">
        <div class="span2">
            <img src="/Content/flags/@(Model.HomeTeam.Name)-flag.gif" style='height: 14px;' alt='flag' />
            @Model.HomeTeam.Name
        </div>
        <div class="span2">
            <img src="/Content/flags/@(Model.AwayTeam.Name)-flag.gif" style='height: 14px;' alt='flag' />                 
            @Model.AwayTeam.Name
        </div>

    </div>