@model IEnumerable<EuroApi.Models.Guestbook>

@{
    ViewBag.Title = "Gjestebok";
}

<p style="margin-left: 147px;">
    @Html.ActionLink("Skriv nytt innlegg", "Create")
</p>
@foreach (var item in Model) {
    <div class="innlegg">
        <h4>@item.Name</h4>
        <p>@item.Message</p>
        <a style="float: right;"href="/Gjestebok/Kommenter/@item.Id">Se kommentarer (@item.kommentar.Count)</a>
    </div>
    
    <hr width="55%" style="margin-right: 210px;" />
}

