@model EuroApi.Models.Guestbook

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>gjestebok</legend>

    <div class="display-label">melding</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
