@model System.Collections.Generic.List<EuroApi.Models.KnockoutMatch>

@{
    ViewBag.Title = "Quarter finals";
}

<h2>Quarter finals</h2>

@foreach(var match in Model)
{
    @Html.Partial("_UserBetKnockoutMatch", match)
}