@model dynamic


<script type="text/javascript">
    $(document).ready(function () {
        var user = "@(User.Identity.Name)";
        $(function () {
            var conChat = $.connection.chat;
            conChat.addMessage = function (message) {
                if (message !== '') {
                    console.log($("#disMess").children());
                    $("#disMess").children("div:gt(4)").remove();
                    $('#disMess').prepend('<div class="row chatMessage">' + message.User + '<br />' + message.Content + '</div>');
                }
            };


            $("#btnSend").click(function () {
                if ($('#txtMess').val() !== '') {
                    conChat.send({ User: user, Content: $('#txtMess').val() });
                    $('#txtMess').val('');
                }
            });

            $.connection.hub.start(function () {
                conChat.getMessages();
            });
        });
        $("#txtMess").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#btnSend").click();
            }
        });
    });
   
</script>
<h3>Chat</h3>
<input type="text" id="txtMess" />
<input type="button" id="btnSend" value="Send" class="btn-success"/>
<div id="disMess"></div>
<script type="text/javascript" src="/signalr/hubs"></script>