@model dynamic

@{
    ViewBag.Title = "Rules";
}

<div class="hero-unit span9" style="margin-top: 0px;">
    <div class="well span6">
        - Hver spiller tipper resultat på alle kamper i gruppespillet. Riktig resultat gir 5 poeng, riktig utfall gir 3 poeng.
    </div>
    <div class="well span6">
        - Når gruppespillet nærmer seg slutten, legges sluttspillkampene ut, og hver spiller tipper resultatet i henholdsvis kvart-, semi- og finaler ettersom det blir klart hvilke lag som møtes.
        Riktig resultat gir her 10 poeng, riktig utfall 6 poeng.
    </div>
    <div class="well span6">
        - I tillegg finnes det en del av spillet der en tipper på lag og enkeltspillere. Hver av disse gir 10 poeng hvis man har tippet riktig. Ved likhet i antall
    </div>
</div>
